<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>


<strong>Attendees</strong>
<br>
<%= render 'attendee_list' %>

<%= render 'attend'%>
<%= show_user %>
<%= link_to 'Back', events_path %>

<%#= link_to 'Edit', edit_event_path(@event) %> 
<%#= link_to 'Back', events_path %>
