<!DOCTYPE html>
<html>
  <head>
    <title>BasicAuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

  <body>
  
  <nav class="navbar mb-2">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Private Events", root_path, class: "mx-2 text-primary" %>
    </div>
    <% if logged_in? %>
      <ul class="nav navbar-right ">
      <li><%= link_to 'All Events', events_path , class:"navbar-item mr-2" %></li>
      <li><%= link_to current_user.username, user_path(User.find(session[:user_id])), class:"navbar-item" %></li>
        <li><%= link_to "Log out", logout_path, class: "mx-2", method: :delete %></li> 
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
      <li><%= link_to 'All Events', events_path , class:"navbar-item mr-2" %></li>
        <li><%= link_to "Log in", login_path, class: "mx-2" %></li> 
        <li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>
      </ul>
    <% end %>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
